In [1]:
import pandas as pd
from sklearn import preprocessing
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('./vgsales_ml.csv')
data1 = pd.read_csv('./rs.csv')

In [3]:
data.head()

,Name,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,2,NES,1985.0,Pltform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,5,GB,1996.0,Role_Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
data1.head()

   Unnamed: 0  Rank  Global_Sales         Genre  labels
0           0     1         82.74        Sports       3
1           1     2         40.24       Pltform       1
2           2     3         35.82        Racing       1
3           3     4         33.00        Sports       1
4           4     5         31.37  Role_Playing       1

In [5]:
data2=data1[['labels']]
data2.head()

   labels
0       3
1       1
2       1
3       1
4       1

In [6]:
datars = pd.concat([data, data2], axis=1)
datars.head()

,Name,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,labels
0,Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,3
1,Super Mario Bros.,2,NES,1985.0,Pltform,Nintendo,29.08,3.58,6.81,0.77,40.24,1
2,Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,1
3,Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,1
4,Pokemon Red/Pokemon Blue,5,GB,1996.0,Role_Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,1

In [7]:
datars1 = datars[['Name','Year','NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales','labels']]
datars1.head()

,Name,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,labels
0,Wii Sports,2006.0,41.49,29.02,3.77,8.46,82.74,3
1,Super Mario Bros.,1985.0,29.08,3.58,6.81,0.77,40.24,1
2,Mario Kart Wii,2008.0,15.85,12.88,3.79,3.31,35.82,1
3,Wii Sports Resort,2009.0,15.75,11.01,3.28,2.96,33.00,1
4,Pokemon Red/Pokemon Blue,1996.0,11.27,8.89,10.22,1.00,31.37,1

In [8]:
datars2 = datars1.set_index('Name')
datars2.head()

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,labels
Name,,,,,,,
Wii Sports,2006.0,41.49,29.02,3.77,8.46,82.74,3
Super Mario Bros.,1985.0,29.08,3.58,6.81,0.77,40.24,1
Mario Kart Wii,2008.0,15.85,12.88,3.79,3.31,35.82,1
Wii Sports Resort,2009.0,15.75,11.01,3.28,2.96,33.00,1
Pokemon Red/Pokemon Blue,1996.0,11.27,8.89,10.22,1.00,31.37,1

In [9]:
x = datars2.values #returns a numpy array
#min_max_scaler = preprocessing.MinMaxScaler()
#x_scaled = min_max_scaler.fit_transform(x)
X_normalized = preprocessing.normalize(x, norm='l2')
df = pd.DataFrame(X_normalized)

In [10]:
df.head()

          0         1         2         3         4         5         6
0  0.998821  0.020659  0.014450  0.001877  0.004212  0.041198  0.001494
1  0.999680  0.014645  0.001803  0.003430  0.000388  0.020266  0.000504
2  0.999786  0.007892  0.006413  0.001887  0.001648  0.017835  0.000498
3  0.999817  0.007838  0.005479  0.001632  0.001473  0.016423  0.000498
4  0.999837  0.005645  0.004453  0.005119  0.000501  0.015714  0.000501

In [11]:
columns= ['Year','NA_Sales','EU_Sales','JP_Sales','Other_Sale','Global_Sales','labels']

In [12]:
df.columns = columns

In [13]:
df.head()

       Year  NA_Sales  EU_Sales  JP_Sales  Other_Sale  Global_Sales    labels
0  0.998821  0.020659  0.014450  0.001877    0.004212      0.041198  0.001494
1  0.999680  0.014645  0.001803  0.003430    0.000388      0.020266  0.000504
2  0.999786  0.007892  0.006413  0.001887    0.001648      0.017835  0.000498
3  0.999817  0.007838  0.005479  0.001632    0.001473      0.016423  0.000498
4  0.999837  0.005645  0.004453  0.005119    0.000501      0.015714  0.000501

In [14]:
datars3=datars[['Name']]
datars3.head()

                       Name
0                Wii Sports
1         Super Mario Bros.
2            Mario Kart Wii
3         Wii Sports Resort
4  Pokemon Red/Pokemon Blue

In [15]:
df2 = pd.concat([datars3,df], axis=1)
df2.head()

,Name,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sale,Global_Sales,labels
0,Wii Sports,0.998821,0.020659,0.014450,0.001877,0.004212,0.041198,0.001494
1,Super Mario Bros.,0.999680,0.014645,0.001803,0.003430,0.000388,0.020266,0.000504
2,Mario Kart Wii,0.999786,0.007892,0.006413,0.001887,0.001648,0.017835,0.000498
3,Wii Sports Resort,0.999817,0.007838,0.005479,0.001632,0.001473,0.016423,0.000498
4,Pokemon Red/Pokemon Blue,0.999837,0.005645,0.004453,0.005119,0.000501,0.015714,0.000501

In [16]:
df3 = df2.set_index('Name')
df3.head()

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sale,Global_Sales,labels
Name,,,,,,,
Wii Sports,0.998821,0.020659,0.014450,0.001877,0.004212,0.041198,0.001494
Super Mario Bros.,0.999680,0.014645,0.001803,0.003430,0.000388,0.020266,0.000504
Mario Kart Wii,0.999786,0.007892,0.006413,0.001887,0.001648,0.017835,0.000498
Wii Sports Resort,0.999817,0.007838,0.005479,0.001632,0.001473,0.016423,0.000498
Pokemon Red/Pokemon Blue,0.999837,0.005645,0.004453,0.005119,0.000501,0.015714,0.000501

In [17]:
df4=df3.T

In [18]:
df4.head()

Name,Wii Sports,Super Mario Bros.,Mario Kart Wii,Wii Sports Resort,Pokemon Red/Pokemon Blue,Tetris,New Super Mario Bros.,Wii Play,New Super Mario Bros. Wii,Duck Hunt,...,Mega Brain Boost,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru,Eiyuu Densetsu: Sora no Kiseki Material Collection Portable,Myst IV: Revelation,Plushees,Woody Woodpecker in Crazy Castle 5,Men in Black II: Alien Escape,SCORE International Baja 1000: The Official Game,Know How 2,Spirits & Spells
Year,0.998821,0.999680,0.999786,0.999817,0.999837,0.999813,0.999855,0.999858,0.999863,0.999806,...,1.000000,0.999998,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000
NA_Sales,0.020659,0.014645,0.007892,0.007838,0.005645,0.011662,0.005672,0.006993,0.007261,0.013571,...,0.000005,0.000000,0.000000,0.000005,0.000005,0.000005,0.000005,0.0,0.000000,0.000005
EU_Sales,0.014450,0.001803,0.006413,0.005479,0.004453,0.001136,0.004601,0.004586,0.003514,0.000317,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000005,0.000000
JP_Sales,0.001877,0.003430,0.001887,0.001632,0.005119,0.002121,0.003240,0.001460,0.002339,0.000141,...,0.000000,0.000005,0.000005,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
Other_Sale,0.004212,0.000388,0.001648,0.001473,0.000501,0.000292,0.001445,0.001421,0.001125,0.000237,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000

In [19]:
distancias = pd.DataFrame ( 1 / ( 1  + squareform (pdist (df4.T, 'euclidean'))), 
                          index = df4.columns, columns = df4.columns)
distancias.head()

Name,Wii Sports,Super Mario Bros.,Mario Kart Wii,Wii Sports Resort,Pokemon Red/Pokemon Blue,Tetris,New Super Mario Bros.,Wii Play,New Super Mario Bros. Wii,Duck Hunt,...,Mega Brain Boost,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru,Eiyuu Densetsu: Sora no Kiseki Material Collection Portable,Myst IV: Revelation,Plushees,Woody Woodpecker in Crazy Castle 5,Men in Black II: Alien Escape,SCORE International Baja 1000: The Official Game,Know How 2,Spirits & Spells
Name,,,,,,,,,,,,,,,,,,,,,
Wii Sports,1.000000,0.975083,0.972798,0.971379,0.969331,0.970086,0.969026,0.969217,0.968796,0.969406,...,0.953698,0.953715,0.953696,0.953698,0.953698,0.953698,0.953698,0.953696,0.953698,0.953698
Super Mario Bros.,0.975083,1.000000,0.991315,0.991188,0.989545,0.993984,0.989268,0.989861,0.990323,0.992964,...,0.975319,0.975281,0.975317,0.975320,0.975319,0.975320,0.975320,0.975317,0.975317,0.975320
Mario Kart Wii,0.972798,0.991315,1.000000,0.998281,0.995010,0.992920,0.995733,0.996048,0.995312,0.990749,...,0.979736,0.979689,0.979734,0.979736,0.979736,0.979736,0.979736,0.979734,0.979735,0.979736
Wii Sports Resort,0.971379,0.991188,0.998281,1.000000,0.995607,0.993987,0.996817,0.997685,0.996916,0.991826,...,0.981227,0.981176,0.981225,0.981227,0.981227,0.981227,0.981227,0.981225,0.981226,0.981227
Pokemon Red/Pokemon Blue,0.969331,0.989545,0.995010,0.995607,1.000000,0.992540,0.997765,0.995819,0.996302,0.989768,...,0.982287,0.982235,0.982287,0.982287,0.982287,0.982287,0.982287,0.982286,0.982287,0.982287

In [ ]:
#distancias.to_csv('Sistema_Recomendacion.csv')

## Al querer importarlo me sale un csv de 5GB de peso, voy a reducirlo pasa sacar un csv más ligero para que me sirva de ejemplo para que me diga el videojuego recomendado

In [21]:
dist = distancias.iloc[0:500,0:500]
dist.head()

Name,Wii Sports,Super Mario Bros.,Mario Kart Wii,Wii Sports Resort,Pokemon Red/Pokemon Blue,Tetris,New Super Mario Bros.,Wii Play,New Super Mario Bros. Wii,Duck Hunt,...,Titanfall,Sonic Mega Collection Plus,Sega Superstars Tennis,World Soccer Winning Eleven 7 International,Need for Speed: Most Wanted,Hot Shots Golf 3,Call of Duty: Finest Hour,Zumba Fitness 2,Syphon Filter,Imagine: Babyz
Name,,,,,,,,,,,,,,,,,,,,,
Wii Sports,1.000000,0.975083,0.972798,0.971379,0.969331,0.970086,0.969026,0.969217,0.968796,0.969406,...,0.955288,0.955284,0.955285,0.955037,0.955178,0.955083,0.955272,0.955264,0.955313,0.955248
Super Mario Bros.,0.975083,1.000000,0.991315,0.991188,0.989545,0.993984,0.989268,0.989861,0.990323,0.992964,...,0.976869,0.976800,0.976848,0.976461,0.976572,0.976705,0.976788,0.976786,0.976921,0.976727
Mario Kart Wii,0.972798,0.991315,1.000000,0.998281,0.995010,0.992920,0.995733,0.996048,0.995312,0.990749,...,0.981291,0.981293,0.981288,0.981088,0.981201,0.981119,0.981282,0.981272,0.981309,0.981262
Wii Sports Resort,0.971379,0.991188,0.998281,1.000000,0.995607,0.993987,0.996817,0.997685,0.996916,0.991826,...,0.982788,0.982783,0.982784,0.982550,0.982673,0.982605,0.982771,0.982762,0.982810,0.982746
Pokemon Red/Pokemon Blue,0.969331,0.989545,0.995010,0.995607,1.000000,0.992540,0.997765,0.995819,0.996302,0.989768,...,0.983755,0.983752,0.983748,0.983703,0.983674,0.983764,0.983743,0.983732,0.983768,0.983723

In [22]:
dist.to_csv('Sist_Rec.csv')